* {
  box-sizing: border-box;
}

clearfix::after,
clearfix::before {
  clear: both;
  content: '';
  display: table;
}

span {
  display: block;
}

.activeNavBar {
  background-color: #d66267;
}

.app-header span {
  display: inline-block;
}

.loader {
  display: flex;
  justify-content: center;
}

.loader .preloader-wrapper {
  width: 25px;
  height: 25px;
}

.logout i {
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.logout i:hover {
  color: #ccc;
}

.header-container {
  top: 0;
  left: 0;
  z-index: 1;
  position: sticky;
  margin-bottom: 10px;
}

.created-date {
  color: #4d4d4d;
}

.login-header {
  top: 20%;
  left: 50%;
  z-index: 1;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  position: absolute;
  transform: translateX(-50%);
}

.child-comment {
  padding: 0 15px;
}

.list-container .progress-bar {
  width: 70%;
  margin: 0 auto;
  background-color: #ffa9ac;
}

.progress-bar .indeterminate {
  background-color: #ed6e73;
}

.local-container {
  width: 100%;
}

.header-content {
  top: 0;
  z-index: 1;
  color: white;
  position: fixed;
  font-size: 18px;
  min-height: 100px;
  font-weight: bold;
}

.errors {
  left: 50%;
  bottom: 25%;
  width: 100%;
  font-size: 18px;
  color: #ee6e73;
  text-align: center;
  position: absolute;
  transform: translateX(-50%);
}

.btn-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.login-page-buttons {
  margin: 10px;
  background-color: #ee6e73;
}

.login-page-buttons input {
  color: white;
}

.login-page-buttons input:focus {
  background: #ee6e73;
}

.app-header {
  color: white;
  font-size: 18px;
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
  background: #ee6e73;
}

.nav-tabs {
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.list-container ul {
  margin: 0;
}

.newsAuthor {
  font-size: 14px;
}

.newsAuthor span {
  display: inline-block;
}

.authorName {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
}

.link-to-comments {
  font-size: 14px;
  font-weight: 300;
}

.newsSpan,
.created-date,
.link-to-comments,
.newsAuthor {
  padding-left: 10px;
  margin: 5px 0;
}

.created-date {
  font-size: 11px;
  color: #999;
}

.news-content a {
  color: #5c5c5c;
}

.news-content,
.link-to-comments {
  cursor: pointer;
}

.each-list {
  padding: 15px;
  font-size: 16px;
  color: #5c5c5c;
  text-transform: capitalize;
}

.each-list:hover {
  background-color: #f5f5f5;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.list-container {
  background-color: #f3f3f3;
}

.comment-list {
  color: #3c3c3c;
  margin: 0 5px;
  padding: 15px;
  overflow: hidden;
  background-color: #fbfbfb;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.form-holder {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  padding: 100px 30px !important;
}

.news-pagination button {
  position: absolute;
  bottom: 2%;
  text-align: center;
  width: 30px !important;
  height: 30px !important;
  position: fixed;
}

.logout {
  float: right;
}

.news-pagination button {
  background-color: #ed6d73 !important;
}

.news-pagination button i {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  line-height: 0 !important;
}

.news-pagination .previous-page {
  left: 30%;
}

.news-pagination .next-page {
  right: 30%;
}

@media screen and (min-width: 480px) {
  .btn-container {
    text-align: left;
  }

  .col.s12.form-holder {
    width: 70%;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    border: 1px solid #ebebeb;
    box-shadow: 5px 3px 5px -1px rgba(142, 142, 240, 0.3);
  }

  .each-list {
    margin: 5px 10px;
    border-bottom: 1px solid #ccc;
  }

  .card {
    box-shadow: none;
  }
}

@media screen and (min-width: 768px) {
  .col.s12.form-holder {
    width: 65%;
  }
}

@media screen and (min-width: 992px) {
  .col.s12.form-holder {
    width: 50%;
  }

  .header {
    margin-left: 15px;
  }

  .nav-tabs {
    width: 15%;
    text-align: left;
  }

  .app-header {
    text-align: left;
    padding: 10px 15px;
  }
}

.each-news {
  background: #ebebeb;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
}

.each-news:hover {
  background: #ccc;
}
